In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Used_Bikes.csv")

In [3]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [4]:
df.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [5]:
df.duplicated().sum()

25324

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [9]:
del(df["bike_name"])

In [10]:
del(df["city"])

In [11]:
df["owner"].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth Owner Or More'], dtype=object)

In [12]:

dct={'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth Owner or More':3}
dct

{'First Owner': 0,
 'Second Owner': 1,
 'Third Owner': 2,
 'Fourth Owner or More': 3}

In [13]:
df["owner"]=df["owner"].map(dct)
df

         price  kms_driven  owner  age  power            brand
0      35000.0     17654.0    0.0  3.0  110.0              TVS
1     119900.0     11000.0    0.0  4.0  350.0    Royal Enfield
2     600000.0       110.0    0.0  8.0  675.0          Triumph
3      65000.0     16329.0    0.0  4.0  180.0              TVS
4      80000.0     10000.0    0.0  3.0  150.0           Yamaha
...        ...         ...    ...  ...    ...              ...
9362   25000.0     48587.0    0.0  8.0  150.0             Hero
9369   35000.0     60000.0    0.0  9.0  220.0            Bajaj
9370  450000.0      3430.0    0.0  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0    0.0  4.0  400.0            Bajaj
9372   80000.0      7127.0    0.0  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [14]:
df["brand"].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [15]:
dct1={'TVS':0, 'Royal Enfield':1, 'Triumph':2, 'Yamaha':3, 'Honda':4, 'Hero':5,
       'Bajaj':6, 'Suzuki':7, 'Benelli':8, 'KTM':9, 'Mahindra':10, 'Kawasaki':11,
       'Ducati':12, 'Hyosung':13, 'Harley-Davidson':14, 'Jawa':15, 'BMW':22, 'Indian':16,
       'Rajdoot':17, 'LML':18, 'Yezdi':19, 'MV':20, 'Ideal':21}
dct1

{'TVS': 0,
 'Royal Enfield': 1,
 'Triumph': 2,
 'Yamaha': 3,
 'Honda': 4,
 'Hero': 5,
 'Bajaj': 6,
 'Suzuki': 7,
 'Benelli': 8,
 'KTM': 9,
 'Mahindra': 10,
 'Kawasaki': 11,
 'Ducati': 12,
 'Hyosung': 13,
 'Harley-Davidson': 14,
 'Jawa': 15,
 'BMW': 22,
 'Indian': 16,
 'Rajdoot': 17,
 'LML': 18,
 'Yezdi': 19,
 'MV': 20,
 'Ideal': 21}

In [16]:
df["brand"]=df["brand"].map(dct1)
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0    0.0  3.0  110.0      0
1     119900.0     11000.0    0.0  4.0  350.0      1
2     600000.0       110.0    0.0  8.0  675.0      2
3      65000.0     16329.0    0.0  4.0  180.0      0
4      80000.0     10000.0    0.0  3.0  150.0      3
...        ...         ...    ...  ...    ...    ...
9362   25000.0     48587.0    0.0  8.0  150.0      5
9369   35000.0     60000.0    0.0  9.0  220.0      6
9370  450000.0      3430.0    0.0  4.0  750.0     14
9371  139000.0     21300.0    0.0  4.0  400.0      6
9372   80000.0      7127.0    0.0  5.0  220.0      6

[7324 rows x 6 columns]

In [17]:
df.isnull().sum()

price          0
kms_driven     0
owner         10
age            0
power          0
brand          0
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
import sklearn
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [20]:
encoder = LabelEncoder()
output=encoder.fit_transform(df['brand'])

In [21]:
output=encoder.fit_transform(df['brand'])

In [22]:
df.dtypes

price         float64
kms_driven    float64
owner         float64
age           float64
power         float64
brand           int64
dtype: object

In [23]:
x= df.drop('price',axis=1)
y=df[('price')]

In [24]:
x #independent variable

      kms_driven  owner  age  power  brand
0        17654.0    0.0  3.0  110.0      0
1        11000.0    0.0  4.0  350.0      1
2          110.0    0.0  8.0  675.0      2
3        16329.0    0.0  4.0  180.0      0
4        10000.0    0.0  3.0  150.0      3
...          ...    ...  ...    ...    ...
9362     48587.0    0.0  8.0  150.0      5
9369     60000.0    0.0  9.0  220.0      6
9370      3430.0    0.0  4.0  750.0     14
9371     21300.0    0.0  4.0  400.0      6
9372      7127.0    0.0  5.0  220.0      6

[7314 rows x 5 columns]

In [25]:
y #dependent variable

0        35000.0
1       119900.0
2       600000.0
3        65000.0
4        80000.0
          ...
9362     25000.0
9369     35000.0
9370    450000.0
9371    139000.0
9372     80000.0
Name: price, Length: 7314, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train,x_test_test,y_train,y_test=train_test_split(x,y , test_size=0.2,random_state=42)

In [28]:
x_train.shape,x_test_test.shape,y_train.shape,y_test.shape

((5851, 5), (1463, 5), (5851,), (1463,))

In [29]:
x_train

      kms_driven  owner   age  power  brand
6380      5500.0    0.0   3.0  100.0      5
647       2980.0    0.0   6.0  160.0      0
5789     68857.0    0.0  15.0  110.0      0
5169      7900.0    0.0   6.0  150.0      7
735      28329.0    0.0   6.0  110.0      5
...          ...    ...   ...    ...    ...
6529     19071.0    0.0   9.0  100.0      5
6590     19249.0    0.0   2.0  350.0      1
6863      5500.0    0.0   4.0  200.0      6
1028     14836.0    0.0   8.0  150.0      3
9260     14000.0    1.0   4.0  250.0      4

[5851 rows x 5 columns]

In [30]:
x_test_test.head()

      kms_driven  owner  age  power  brand
7558      3500.0    0.0  4.0  250.0      9
1942      3198.0    0.0  5.0  500.0      1
9101     62867.0    0.0  9.0  135.0      6
3537     25000.0    0.0  6.0  125.0      6
6197     15047.0    0.0  3.0  150.0      6

In [31]:
x_train.isnull().sum()

kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
lr =LinearRegression()

In [34]:
lr.fit(x_train,y_train)

LinearRegression()

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7314 entries, 0 to 9372
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       7314 non-null   float64
 1   kms_driven  7314 non-null   float64
 2   owner       7314 non-null   float64
 3   age         7314 non-null   float64
 4   power       7314 non-null   float64
 5   brand       7314 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 400.0 KB

In [36]:
lr.score(x_train,y_train)

0.7191125044507997

In [37]:
lr.score(x_test_test ,y_test)

0.7326192672947549

In [38]:
pred=lr.predict(x_test_test)

In [39]:
pred

array([151970.59773213, 215458.62096903,  32478.77602333, ...,
       480838.38279717, 179652.42708245,  73063.0293072 ])

In [40]:
x_test_test.shape

(1463, 5)

In [41]:
# y_test["pred"]= pred.ravel()

In [42]:
# y_test["pred"]

### loss function

#MSE
#MAE
#RMSE
##Huber loss

### MSE

In [43]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
import math 
import numpy as np
print("MSE:",mean_squared_error(y_test, pred))

MSE: 4868715207.650548

## MAE

In [44]:
print("MAE",mean_absolute_error(y_test,pred))

MAE 33970.13264327698

### RMSE

In [45]:
print("MSE:",math.sqrt(mean_squared_error(y_test, pred)))

MSE: 69776.17937126214

In [46]:
print("by using numpy",np.sqrt(mean_squared_error(y_test,pred)))

by using numpy 69776.17937126214

In [47]:
y_test

7558    170000.0
1942    102850.0
9101     22000.0
3537     34200.0
6197     35500.0
          ...
61      935000.0
7956     45000.0
5653    395000.0
609     140000.0
4211     54500.0
Name: price, Length: 1463, dtype: float64

###  Huber loss

# model Evalaution
## confusion metric
## accuracy
## precision
## recall
## f1 score

In [48]:
#confusion matric
from sklearn.metrics import confusion_matrix,f1_score,precision_score,recall_score

In [49]:
pred= (pred>0.5).astype(int).ravel()

In [50]:
y_test

7558    170000.0
1942    102850.0
9101     22000.0
3537     34200.0
6197     35500.0
          ...
61      935000.0
7956     45000.0
5653    395000.0
609     140000.0
4211     54500.0
Name: price, Length: 1463, dtype: float64